/*Basic Styling for the sheet is taken from https://www.w3schools.com/howto/howto_js_tabs.asp>.*/

/*Styling for the basic HTML page.*/
html {
  padding-left: 20px;
  padding-right: 20px;
}

/*Styling for the top header class.*/
.topheader {
  background-color: #f05757;
  font-family: 'Londrina Sketch', cursive;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

/*Styling for the bottom header class.*/
.bottomheader {
  margin-top: 20px;
  background-color: #d48319;
  font-family: 'Londrina Sketch', cursive;
  height: 70px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

/*Styling for header 1.*/
h1 {
  color: white;
  padding-top: 27px;
  padding-left: 20px;
}

/*Styling for the website text and background color.*/
body {
  background-color: #fff3f3;
  font-family: 'Londrina Sketch', cursive;
  min-height: 100vh;
  /*Minimum viewport height to keep the main screen visible upon loading*/
  position: relative;
  padding-bottom: 50px;
}

/*Styling for the tab.*/
.tab {
  overflow: hidden;
  background-color: #ff9696;
  border-radius: 10px;
}

/*Styling for the tab content buttons.*/
.tab button {
  font-weight: bold;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/*Styling for background color of buttons on hover.*/
.tab button:hover {
  background-color: #fff3f3;
}

/*Styling for the tab button when it is active.*/
.tab button.active {
  background-color: #fff3f3;
}

/*Styling for the tab content.*/
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid #ebdfdf;
  border-top: none;
  background-color: #fff3f3;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*Styling for the group member signatures.*/
#signature {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}


/*Styling for displaying store products.*/
#displayProduct {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 8px 20px;
}